.my-content-register .mui-input-row {
  font-size: 14px;
}

.my-content-register .registerBtn, .my-content-register .loginBtn {
  line-height: 38px;
  background-color: #066099;
  width: 94%;
  margin: 20px auto;
  text-align: center;
  color: #FFF;
  font-size: 16px;
}

.my-content-register .loginNow, .my-content-register .registerFree {
  float: right;
  margin-right: 10px;
  font-size: 14px;
  color: #1472a1;
}

.my-content-register .getVcode {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #1472a1;
}
