
.my-content {
    position: absolute;
    top: 44px;
    bottom: 50px;
    .search-filter {
        .mui-table-view-cell {
            width: 96%;
            margin: 10px auto 0; 
            text-align: center;
            background-color: #efeff4;
            span {
                font-size: 14px;
            }
        }

    }
    
}