.search-content {
  margin: 10px;
  border: 1px solid #066099;
  height: 30px;
  position: relative;
}

.search-content .search-box {
  border: none;
  font-size: 12px;
  height: 100%;
  margin-bottom: 0;
  padding: 0 15px;
}

.search-content .search-button {
  width: 60px;
  text-align: center;
  line-height: 28px;
  background-color: #066099;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  font-size: 14px;
}

.history {
  padding: 10px;
}

.history span {
  color: #8f8f94;
  font-size: 14px;
  line-height: normal;
}

.history .mui-icon-trash:before {
  margin-right: 5px;
}

.history-show {
  margin: 10px;
}
